# Ignore everything...
*

# Then include just this.
!arch/
!.gitignore
!README
!modpost.patch
!gcc-makefile.patch

# The arch/.gitignore and arch/riscv/.gitignore have patterns to un-ignore the
# appropriate files.

