config CONFIG_STRING
	bool "Platform device config-string parser"
	depends on RISCV
	default y
	help
	   This enables support for reading and parsing the configuration
	   string typically found on RISC-V systems. The string describes
	   devices included in the on-board SoC. Without this option, any
	   devices described in the config string will not be loaded.

	   Say 'Y' here if you have a standard RISC-V platform.

config PLIC
	bool "Platform-Level Interrupt Controller"
	depends on CONFIG_STRING
	default y
	help
	   This enables support for the PLIC chip found in standard RISC-V
	   systems. The PLIC is the top-most interrupt controller found in
	   the system, connected directly to the core complex. All other
	   interrupt sources (MSI, GPIO, etc) are subordinate to the PLIC.

	   If you don't know what to do here, say Y.

config GPIO_RV
	bool "Onboard GPIO support for RV"
	depends on CONFIG_STRING
	default y
	select GPIOLIB
	select GPIO_SYSFS
	help
	  This enables support for platform GPIO devices.

	  Say 'Y' here if you want the kernel to support LEDs.

config PCIE_XILINX_RV
	bool "Xilinx AXI PCIe host bridge support fo RV"
	depends on RISCV
	select PCI
	help
	  Say 'Y' here if you want kernel to support the Xilinx AXI PCIe
	  Host Bridge driver.
