menu "IP cores"

config RISCV_TEMAC
	tristate "Xilinx TEMAC support"
	default n
	depends on NETDEVICES
	depends on ETHERNET

if RISCV_TEMAC

config RISCV_TEMAC_CSR_CFGA
	hex "TEMAC configuration address CSR"
	default 0x520

config RISCV_TEMAC_CSR_CFGD
	hex "TEMAC configuration value CSR"
	default 0x521

endif # RISCV_TEMAC

endmenu
