#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#

source "init/Kconfig"

config MMU
	def_bool y

menu "Platform type"

choice
	prompt "CPU selection"
	default CPU_RV_ROCKET

config CPU_RV_ROCKET
	bool "Rocket"
	select CPU_SUPPORTS_64BIT_KERNEL
	select CPU_SUPPORTS_LITTLE_ENDIAN

config CPU_RV_GENERIC
	bool "Generic RISC-V"
	select CPU_SUPPORTS_LITTLE_ENDIAN
	select CPU_SUPPORTS_BIG_ENDIAN
	select CPU_SUPPORTS_32BIT_KERNEL
	select CPU_SUPPORTS_64BIT_KERNEL

endchoice

config CPU_SUPPORTS_LITTLE_ENDIAN
	bool
config CPU_SUPPORTS_BIG_ENDIAN
	bool
config CPU_SUPPORTS_32BIT_KERNEL
	bool
config CPU_SUPPORTS_64BIT_KERNEL
	bool

endmenu

menu "Kernel type"

choice
	prompt "Endianess selection"
	default CPU_LITTLE_ENDIAN

config CPU_LITTLE_ENDIAN
	bool "Little endian"
	depends on CPU_SUPPORTS_LITTLE_ENDIAN
	help
	  Use little endian byte order

config CPU_BIG_ENDIAN
	bool "Big endian"
	depends on CPU_SUPPORTS_BIG_ENDIAN
	help
	  Use big endian byte order

endchoice

choice
	prompt "Kernel code model"
	default 64BIT

config 32BIT
	bool "32-bit kernel"
	depends on CPU_SUPPORTS_32BIT_KERNEL
	help
	  Select this option to build a 32-bit kernel.

config 64BIT
	bool "64-bit kernel"
	depends on CPU_SUPPORTS_64BIT_KERNEL
	help
	  Select this option to build a 64-bit kernel.

endchoice

source "mm/Kconfig"

source "kernel/Kconfig.hz"

source "kernel/time/Kconfig"

endmenu

source "drivers/Kconfig"

source "fs/Kconfig"

menu "Kernel hacking"

config EARLY_PRINTK
	bool "Early printk"
	default n
	---help---
	  This is useful for kernel debugging when your machine crashes very
	  early before the console code is initialized. For normal operation
	  it is not recommended because it looks ugly and doesn't cooperate
	  with klogd/syslogd or the X server. You should normally N here,
	  unless you want to debug such a crash.

source "lib/Kconfig.debug"

endmenu

config GENERIC_HWEIGHT
	def_bool y

config RWSEM_GENERIC_SPINLOCK
	def_bool y

config GENERIC_CALIBRATE_DELAY
	def_bool y

config GENERIC_BUG
	def_bool y
	depends on BUG

config HAVE_MEMBLOCK_NODE_MAP
	def_bool y

config HAVE_MEMBLOCK
	def_bool y

config GENERIC_CLOCKEVENTS
	def_bool y

config HAVE_GENERIC_HARDIRQS
	def_bool y

