menuconfig HTIF
	bool "HTIF"
	depends on 64BIT
	default y
	help
	  Host-Target Interface

if HTIF

config HTIF_BLOCK
	tristate "HTIF block device support"
	select BLOCK
	default y

config HTIF_RFB
	tristate "HTIF remote framebuffer support"
	select FB
	select FB_CFB_FILLRECT
	select FB_CFB_COPYAREA
	select FB_CFB_IMAGEBLIT
	default n

endif # HTIF
